<div>
  <h2>Filtrar Películas</h2>

  <select [(ngModel)]="generoSeleccionado" (ngModelChange)="aplicarFiltros()">
    <option value="Todos">Todos los géneros</option>
    <option *ngFor="let genero of generos" [value]="genero">{{ genero }}</option>
  </select>

  <input type="text" placeholder="Nombre" [(ngModel)]="nombreFiltro" (ngModelChange)="aplicarFiltros()">
  <input type="text" placeholder="Descripción" [(ngModel)]="descripcionFiltro"(ngModelChange)="aplicarFiltros()">

  <!-- <button (click)="aplicarFiltros()">Aplicar Filtros</button> -->

  <h2>Lista de Películas</h2>
  <div *ngFor="let pelicula of peliculas">
    <!-- Aquí se mostrarían las películas filtradas -->
  </div>
</div>
